.thumbnail {
    width: 300px;
}
.search-bar {
    /* font-size: 20px;
    margin-left: 12px; */
    display: block;
}

/* .video-title {
    width: 300px;
}   */

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.channel-pic {
    display: inline-block;
    width: 50px;
}

.video-info {
    display: inline-block;
    width: 200px;
}